<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="container d-flex">
                <a class="navbar-brand" href="#">Home</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/routines">Routines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/exercises">Exercises</a>
                    </li>
                    <li class="nav-item" *ngIf="boxingUserService.userLoggedId">
                        <a class="nav-link" [routerLink]="['/users', boxingUserService.userLoggedId]" tabindex="-1" aria-disabled="true">My profile</a>
                    </li>
                    <li class="nav-item" *ngIf="!boxingUserService.userLoggedId">
                        <a class="nav-link" routerLink="/login" tabindex="-1" aria-disabled="true">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="boxingUserService.userLoggedId">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" (click)="logout()">Logout</a>
                    </li>
                    <li class="nav-item" *ngIf="!boxingUserService.userLoggedId">
                        <a class="nav-link" routerLink="/post/user" tabindex="-1" aria-disabled="true">Sign up</a>
                    </li>
                </ul>
            </div>



        </div>
    </div>
</nav>