<section *ngIf="user">
    <div class="container">
        <!-- <div class="card mb-3 mt-5">
            <img [src]="exercise.img" class="card-img-top card-detail" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{exercise.name}}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Sets: {{exercise.sets}}, Repetitions: {{exercise.repetitions}}</small></p>
                <a routerLink="/exercises" class="btn btn-primary" (click)="this.goBack()">Back</a> &nbsp;
                <button (click)="deleteExercise()" class="btn btn-danger">Delete</button>
                <a [routerLink]="['/exercises/' + exercise.id + '/edit']" class="btn btn-primary ms-3">Edit</a>

            </div>
        </div> -->




        <div class="container cont">
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="circle">
                        <!-- <i class="fas fa-user"></i> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                          </svg>
                    </div>
                </div>
            </div>
            <h1 class="text-center justify-content-center mt-3">{{ user.username }}</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id nostrum quod asperiores quam earum quis aliquam enim sunt praesentium incidunt, excepturi, ipsum assumenda velit laboriosam, doloremque pariatur perspiciatis nulla maxime.</p>
            <h3 class="mt-5">My routines</h3>




            <!-- <div *ngIf="routines.length > 0" class="d-flex rowCards">
                <ul *ngFor="let routine of routines">
                    <app-routine-item [routine]="routine"></app-routine-item>
        
                </ul>
            </div> -->




        </div>




    </div>

</section>