<div class="container">

    <form (ngSubmit)="onSubmit()" [formGroup]="newUserForm" class="forms">
        <h1>Create user
        </h1>

        <div>
            <input type="text" placeholder="Username..." formControlName="username" />
            <p class="error-msg" *ngIf="usernameInput.invalid && usernameInput.touched">
                Username error.....
            </p>
        </div>
        <div>
            <input type="text" placeholder="Password..." formControlName="password" />
            <p class="error-msg" *ngIf="passwordInput.invalid && passwordInput.touched">
                Password error.....
            </p>
        </div>


        <button class="btn btn-primary" mat-raised-button color="primary" type="submit" [disabled]="newUserForm.invalid">Submit</button>
    </form>
</div>