<div class="container">

    <form (ngSubmit)="onSubmit()" [formGroup]="editExerciseForm" class="forms">
        <h1>Modify exercise
        </h1>
        <div>
            <input type="text" placeholder="Name..." formControlName="name" />
            <p class="error-msg" *ngIf="nameInput.invalid && nameInput.touched">
                Name error.....
            </p>
        </div>
        <div>
            <input type="text" placeholder="Sets..." formControlName="sets" />
            <p class="error-msg" *ngIf="setsInput.invalid && setsInput.touched">
                Sets error.....
            </p>
        </div>
        <div>
            <input type="text" placeholder="Repetitions..." formControlName="repetitions" />
            <p class="error-msg" *ngIf="repetitionsInput.invalid && repetitionsInput.touched">
                Repetitions error.....
            </p>
        </div>
        <div style="display: none;">
            <input type="text" placeholder="Image..." formControlName="img" />
            <p class="error-msg" *ngIf="imgInput.invalid && imgInput.touched">
                Image error.....
            </p>
        </div>

        <button class="btn btn-primary" mat-raised-button color="primary" type="submit" [disabled]="editExerciseForm.invalid">Submit</button>
    </form>
</div>